<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login and Registration Forms</title>
</head>
<body>
    <h1>Login</h1>
    <form id="login">
        <label for="login-username">Username:</label>
        <input type="text" id="login-username" name="username" required><br>

        <label for="login-password">Password:</label>
        <input type="password" id="login-password" name="password" required><br>

        <button type="submit">Login</button>
    </form>
    <br>
    <h1>Registration</h1>
    <form id="register">
        <label for="register-username">Username:</label>
        <input type="text" id="register-username" name="username" required><br>

        <label for="register-password">Password:</label>
        <input type="password" id="register-password" name="password" required><br>

        <button type="submit">Register</button>
    </form>
    <br>
    <div>
        <h1>Logout</h1>
        <form id="logout">
            <button type="submit">Logout</button>
        </form>
    </div>
    <br>
    <h1>Surfboards</h1>
    <a href="/store/surfboards" class="button">Show Surfboards</a>

<!--    <form id="fetchDataForm">-->
<!--        <button type="submit">show surfboards</button>-->
<!--    </form>-->
<!--    <div id="dataContainer"></div>-->
    <br>
    <a href="/chat">Chat</a>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>

        $(document).ready(() => {
            $('#login').submit((event) => {
                event.preventDefault(); // Prevent form submission
                $.ajax({
                    url: '/auth/login',
                    method: 'POST',
                    data: $('#login').serialize(),
                    success: (response) => {
                        const { redirectUrl } = response;
                        sessionStorage.setItem('username', $('#login-username').val());
                        window.location.href = redirectUrl;
                    },
                    error: (error) => {
                        console.log('Error:', error);
                    }
                });
            });

            $('#register').submit((event) => {
                event.preventDefault(); // Prevent form submission
                $.ajax({
                    url: '/auth/register',
                    method: 'POST',
                    data: $('#register').serialize(),
                    success: (response) => {
                        const { redirectUrl } = response;
                        sessionStorage.setItem('username', $('#register-username').val());
                        window.location.href = redirectUrl;
                    },
                    error: (error) => {
                        console.log('Error:', error.message);
                    }
                });
            });
            $('#logout').submit((event) => {
                event.preventDefault(); // Prevent form submission
                $.ajax({
                    url: '/auth/logout',
                    method: 'POST',
                    success: (response) => {
                        const { redirectUrl } = response;
                        sessionStorage.removeItem('username');
                        window.location.href = redirectUrl;
                    },
                    error: (error) => {
                        console.log('Error:', error);
                    }
                });
            });

            // $('#register').submit((event) => {
            //
            //     event.preventDefault(); // Prevent form submission
            //     $.ajax({
            //
            //         url: '/auth/register',
            //         method: 'POST',
            //         data: $('#register').serialize(),
            //         success: (response) => {
            //
            //             const { redirectUrl } = response;
            //             window.location.href = redirectUrl;
            //         },
            //         error: (error) => {
            //             console.log('Error:', error.message);
            //         }
            //     });
            // });
            //
            // $('#login').submit((event) => {
            //
            //     event.preventDefault(); // Prevent form submission
            //     $.ajax({
            //
            //         url: '/auth/login',
            //         method: 'POST',
            //         data: $('#login').serialize(),
            //         success: (response) => {
            //
            //             const { redirectUrl } = response;
            //             window.location.href = redirectUrl;
            //         },
            //         error: (error) => {
            //             console.log('Error:', error);
            //         }
            //     });
            // });
            //
            // $('#logout').submit((event) => {
            //
            //     event.preventDefault(); // Prevent form submission
            //     $.ajax({
            //
            //         url: '/auth/logout',
            //         method: 'POST',
            //         success: (response) => {
            //             const { redirectUrl } = response;
            //             sessionStorage.setItem('username', $('#login-username').val());
            //             window.location.href = redirectUrl;
            //         },
            //
            //         error: (error) => {
            //             console.log('Error:', error);
            //         }
            //     });
            // });

            // // write all surfboards below the button
            // $('#fetchDataForm').submit((event) => {
            //
            //     event.preventDefault(); // Prevent form submission
            //     $.ajax({
            //
            //         url: '/store/surfboards',
            //         method: 'GET',
            //         success: (response) => {
            //
            //             const { surfboards } = response;
            //             $('#dataContainer').html(surfboards[0].company + ', ' + surfboards[0].model);
            //         },
            //         error: (xhr, error) => {
            //
            //             if (xhr.status === 401) {
            //
            //                 const jsonResponse = JSON.parse(xhr.responseText);
            //                 const { redirectUrl, message } = jsonResponse;
            //                 alert(message);
            //                 window.location.href = redirectUrl;
            //             }
            //             else
            //                 console.log('Error:', error);
            //         }
            //     });
            // });
        });
    </script>

</body>
</html>
