<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EL_MAR_HomePage</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="css/aos.min.css">
    <link rel="stylesheet" href="css/Filter.css">
    <link rel="stylesheet" href="css/Hero-Features-icons.css">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body style="background:url(img/yaniv22.jpg) center / cover no-repeat;">
    <section class="d-flex flex-column justify-content-between" id="hero" style="background: url(img/yaniv22.jpg) center / cover no-repeat;">
        <div id="hero---top">
            <nav class="navbar navbar-expand-md navbar-light" style="/*background: var(--bs-navbar-toggler-border-color);*/">
                <div class="container-fluid"><a class="navbar-brand" href="/views/HomePage.html" style="width: 0px;height: 0px;padding: 0px 0px 30px;margin: 0px 0px 0;transform: perspective(410px) translate(0px) scale(1.43);font-family: Montserrat, sans-serif;--bs-body-bg: var(--bs-navbar-color);color: rgba(255,255,255,0.9);font-weight: bold;"><span style="font-weight: normal !important; color: rgb(255, 255, 255);">EL MAR</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1" style="/*background: var(--bs-nav-link-disabled-color);*//*--bs-body-bg: var(--bs-navbar-toggler-border-color);*/color: rgb(0,0,0);">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-search" style="color: #ffffff;transform: scale(1.15);"></i></a></li>
                            <li class="nav-item"><a class="nav-link active" id="loginLink"  href="#" style="--bs-body-color: #c3d3e4;color: rgba(255,255,255,0.9);font-weight: bold;"><i class="fa fa-user-circle" style="transform: scale(1.15);color: rgb(85,121,171);" onclick="location.href='login.html';"></i></a></li>
                            <li class="nav-item"><a class="nav-link" href="#" style="color: rgba(255,255,255,0.55);font-weight: bold;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" fill="none" style="transform: scale(1.15);color: #ffffff;">
                                        <path d="M2 3C2 2.44772 2.44772 2 3 2H5.15287C5.64171 2 6.0589 2.35341 6.13927 2.8356L6.87858 7.27147C6.95075 7.70451 6.73206 8.13397 6.3394 8.3303L4.79126 9.10437C5.90756 11.8783 8.12168 14.0924 10.8956 15.2087L11.6697 13.6606C11.866 13.2679 12.2955 13.0492 12.7285 13.1214L17.1644 13.8607C17.6466 13.9411 18 14.3583 18 14.8471V17C18 17.5523 17.5523 18 17 18H15C7.8203 18 2 12.1797 2 5V3Z" fill="currentColor"></path>
                                    </svg></a></li>
                            <li class="nav-item"><a class="nav-link" href="#" style="--bs-body-color: var(--bs-gray-100);color: rgba(255,255,255,0.55);font-weight: bold;"><i class="fa fa-shopping-cart" style="transform: scale(1.15);color: #ffffff;"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section class="py-4 py-xl-5" style="margin-top: 100px;">
                <div class="row mb-5" style="margin-top:-40px;">
                    <div class="col" data-aos="fade-up" data-aos-delay="500">
                        <h2 data-aos="fade-up" data-aos-delay="500" style="font-family: Montserrat, sans-serif;text-align: center;"><span style="color: rgb(250, 251, 252);font-family: Montserrat, sans-serif;"><span style="color: rgb(85, 121, 171);">LOG IN</span></span></h2>
                    </div>
                </div>
                <div class="container" style="transform:scale(1);transform-origin:center;--bs-primary:#253956;--bs-primary-rgb:37,57,86;height:auto;width:auto;position:relative;">
                    <div class="row d-flex justify-content-center" style="margin-top:-40px;">
                        <div class="col-md-6 col-xl-4" data-aos="fade-up" data-aos-delay="500">
                            <div class="card mb-5">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4" style="--bs-primary:#5679ab;--bs-primary-rgb:86,121,171;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                    </svg></div>

                                    <!-- login form -->

                                    <form id="login" class="text-center" method="post">
                                        <div class="mb-3"></div><input class="form-control" type="text" for="login-username" id="login-username" name="username" placeholder="Username" required>
                                        <div class="mb-3"><input class="form-control form-control" type="password" id="login-password" name="password" placeholder="Password" required style="margin-top:10px;"></div>
                                        <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="--bs-primary:#5679ab;--bs-primary-rgb:86,121,171;background:#5679ab;">Log in</button></div>
                                        <p class="text-muted"><button type="submit" id="signIn"> Sing In </button> </p>
                                    </form>

                                    <!-- form -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="hero-buttom">
            <div class="container" style="color:rgb(255,255,255);">
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <p style="color: rgb(255,255,255);"><span style="background-color: rgba(255, 255, 255, 0);">© Copyright 2023 - 2024 - EL MAR Surfboards Inc.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="js/aos.min.js"></script>
    <script src="js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="js/logIn-signIn.js"></script>


</body>

</html>