<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">EL MAR</a>

    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
      <span class="visually-hidden">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
        </li>
                <!-- phone icon -->
                <li class="nav-item">
                  <a class="nav-link" href="/store/branches">
                    <svg class="phone-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M2 3C2 2.44772 2.44772 2 3 2H5.15287C5.64171 2 6.0589 2.35341 6.13927 2.8356L6.87858 7.27147C6.95075 7.70451 6.73206 8.13397 6.3394 8.3303L4.79126 9.10437C5.90756 11.8783 8.12168 14.0924 10.8956 15.2087L11.6697 13.6606C11.866 13.2679 12.2955 13.0492 12.7285 13.1214L17.1644 13.8607C17.6466 13.9411 18 14.3583 18 14.8471V17C18 17.5523 17.5523 18 17 18H15C7.8203 18 2 12.1797 2 5V3Z"></path>
                    </svg>
                  </a>
                </li>

        <!-- cart icon -->
        <li class="nav-item">
          <a class="nav-link" href="/cart"><i class="fa fa-shopping-cart"></i></a>
        </li>

        <!-- login icon -->
        <li class="nav-item">
          <a id="loginIcon" class="nav-link" href="#" onclick="openForm()">
            <i class="fa fa-user-circle"></i>
          </a>
        </li>
        <li class="nav-item">
          <a id="loggedInUsername" onclick="open_Logout_Form()" class="nav-link" href="#"><span></span></a>
        </li>
      </ul>
    </div>
  </div>

  <!-- login ans signup form -->
  <div class="myForm" id="myForm">
    <div class="card-body d-flex flex-column align-items-center">
      <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
        </svg>
      </div>
      <!-- login -->
      <form id="login" class="text-center">
        <div class="mb-3">
          <input class="form-control" type="text" id="login-username" name="username" placeholder="Username" value="yaniv" required>
        </div>
        <div class="mb-3">
          <input class="form-control form-control" type="password" id="login-password" name="password" placeholder="Password" value="123" required>
        </div>
        <div class="mb-3">
          <button id="login_btn" class="btn btn-primary d-block w-100" type="submit">Log in</button>
        </div>
        <p class="text-muted">
          <button type="button" id="switchToSignUp">Sign Up</button>
        </p>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
      <!-- signup -->
      <form id="register-info" class="text-center" style="display: none">
        <div class="mb-3">
          <input id="username" class="form-control" type="text" placeholder="Username" required>
        </div>
        <div class="mb-3">
          <input id="password1" class="form-control form-control" type="password" name="password1" placeholder="Password" style="margin-top:10px;" required>
          <input id="password2" class="form-control form-control" type="password" name="password2" placeholder="Confirm Password" style="margin-top:10px;" required>
        </div>
        <div class="mb-3"></div>
        <button id="signUpButton" class="btn btn-primary d-block w-100" type="submit" style="--bs-primary:#5679ab;--bs-primary-rgb:86,121,171;background:#5679ab;">SIGN UP</button>
      </form>
    </div>
  </div>

  <!-- Logout form -->
  <div class="myForm" id="LogOutForm">
    <div class="card-body d-flex flex-column align-items-center">
      <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
        </svg>
      </div>
      <form id="logout" class="text-center">
        <div class="mb-3">
          <button id="logout_btn" class="btn btn-primary d-block w-100" type="submit">Log Out</button>
        </div>
        <button type="button" class="btn cancel" onclick="close_Logout_Form()">Close</button>
      </form>
    </div>
  </div>
</nav>
<script src="js/navbar.js"></script>



