<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>

  <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
  <nav>
    <a href="home.html">Home</a>
    <a href="shop.html">Products</a>
    <a href="#">Cart</a>
    <a href="#">Contact</a>
  </nav>
</header>

<main>
  <section class="shop-now-btn">
    <img src="images/Logo.png" alt="logo">
    <p></p>
  </section>

  <section class="filter-menu">
    <h2>Filters</h2>
    <label for="color-filter">Color:</label>
    <select id="color-filter">
      <option value="all">All</option>
      <option value="light-blue">Light Blue</option>
      <option value="blue-orange">Blue and Orange</option>
      <option value="ocean">Ocean</option>
    </select>

    <label for="size-filter">Size:</label>
    <select id="size-filter">
      <option value="all">All</option>
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
    </select>

    <label for="level-filter">Level:</label>
    <select id="level-filter">
      <option value="all">All</option>
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
    </select>
  </section>

  <section class="featured-products">

    <div class="product-card" data-color="light-blue" data-size="medium" data-level="intermediate">
      <img src="images/surf-board1.jpg" alt="Product 1">
      <h3>Yaniv model</h3>
      <p>color- light blue. classic for pro's</p>
      <p class="product-price">$99.99</p>
      <a href="#" class="btn add-to-cart">Add to Cart
        <img src="images/car.jpg" alt="car" width="50" height="50">
      </a>
    </div>
    <div class="product-card" data-color="blue-orange" data-size="large" data-level="advanced">
      <img src="images/surf-board2.jpg" alt="Product 2">
      <h3>Jony model</h3>
      <p>color- blue and orange. for brave </p>
      <p class="product-price">$99.99</p>
      <a href="#" class="btn add-to-cart">Add to Cart

        <img src="images/car.jpg" alt="car" width="50" height="50" >
      </a>
    </div>
    <div class="product-card" data-color="ocean" data-size="small" data-level="beginner">
      <img src="images/surf-board3.jpg" alt="Product 3">
      <h3>Roy model</h3>
      <p>color- ocean. for beginners</p>
      <p class="product-price">$99.99</p>
      <a href="#" class="btn add-to-cart">Add to Cart
      <img src="images/car.jpg" alt="car" width="50" height="50">
      </a>
    </div>
  </section>

  <div id="filtered-products"></div>
</main>

<footer>
  <p>&copy; online Surf Store. All rights reserved to Jony, Roy, Yaniv, Tal.</p>
  <img src="images/logo3.png" alt="Product 1">
</footer>

<script src="script.js"></script>
</body>
</html>
