<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="color: rgb(0, 0, 0);">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ELMAR Shop</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="css/aos.min.css">
    <link rel="stylesheet" href="css/Filter.css">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body style="background: url(img/yaniv22.jpg) center/cover repeat">

    <section class="d-flex flex-column justify-content-between" style="width: 100%;height: 100vh;">
        <!-- nav bar -->
        <div id="navbar-container"></div>
        <!-- filters and surfboards-->
        <div id="main" class="container mt-4">
            <div class="row">
                <div class="col-md-2">
                    <div class="filters-container">
                        <div class="row" data-aos="fade-up" data-aos-delay="500">
                            <ul class="list-unstyled">
                                <li class="line-break">
                                    <h5 class="filter-space">Company</h5>
                                    <ul class="list-unstyled filter-space">
                                        <li><label><input type="checkbox" id="Christenson" value="company">Christenson</label></li>
                                        <li><label><input type="checkbox" id="Sharp-Eye" value="company">Sharp Eye</label></li>
                                        <li><label><input type="checkbox" id="Al-Merrick" value="company">Al Merrick</label></li>
                                    </ul>
                                </li>
                                <li class="line-break">
                                    <h5 class="filter-space">Type</h5>
                                    <ul class="list-unstyled filter-space">
                                        <li><label><input type="checkbox" id="Fish" value="type">Fish</label></li>
                                        <li><label><input type="checkbox" id="Short" value="type">Short</label></li>
                                        <li><label><input type="checkbox" id="Hybrid" value="type">Hybrid</label></li>
                                        <li><label><input type="checkbox" id="Step-Up" value="type">Step-Up</label></li>
                                    </ul>
                                </li>
                                <li>
                                    <h5 class="filter-space">Tail</h5>
                                    <ul class="list-unstyled filter-space">
                                        <li><label><input type="checkbox" id="Squash" value="tail">Squash</label></li>
                                        <li><label><input type="checkbox" id="Round" value="tail">Round</label></li>
                                        <li><label><input type="checkbox" id="Swallow" value="tail">Swallow</label></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <ul id="surfboards-list"></ul>
                </div>
            </div>
        </div>

        <!-- bottom & policy -->
        <div id="bottom-container"></div>
    </section>


    <!-- scripts -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/aos.min.js"></script>
    <script src="js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/filters.js"></script>
    <script>
        $(function(){
            $("#navbar-container").load("navbar.html");
            $("#bottom-container").load("bottom.html");
        });
    </script>
</body>
</html>