<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>surfboards</h1>
    <ul id="surfboards-list"></ul>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>

        $(document).ready(function() {

            $.ajax({

                url: "/products/surfboards",
                method: 'GET',
                success: (data) => {

                    $('#surfboards-list').empty();  // Clear the existing list
                    data.forEach((surfboard) => {

                        $('#surfboards-list').append('<li>' + surfboard.model + ', ' + surfboard.height + '</li>');
                    });
                },
                error: (error) => {
                    console.log('Error:', error);
                }
            });
        });
    </script>
</body>
</html>